html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#shane{
    width: 200px;
    position:relative;
    left:2px; 
    top:170px;
    animation-name: move1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
}


@keyframes move1{
    0%{ transform: translate(0px, 0px);}
    100%{transform: translate(160px, 0px); }
}



#ilya{
    width: 200px;
    position:relative;
    left:215px;
    top: 170px; 
    animation-name: move2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
}

@keyframes move2{
    0%{ transform: translate(0px, 0px);}
    100%{transform: translate(-160px, 0px); }

}


#puck{
    width: 30px;
    position: relative;
    top: 180px;
    left: 345px;
     animation-name:move3;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
    animation: move3 5s infinite ease-in-;
    display: inline-block;

}




@keyframes move3 {
    0% { 
        transform: rotate(0deg);

    }
    50%{
       transform: rotate(180deg) scale(1.5);
      
    }
    100%  {
        transform: rotate(360deg);
    

    }
}



#jumbo{
    width: 220px;
    position: absolute;
    left: 264px;
}
#logo{
    width: 220px;
    position: absolute;
    left: 2px;
}




#ref{
    width: 85px;
    position: absolute;
    top: 290px;
    left: 328px;


}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 75 0px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: url(https://img.freepik.com/free-photo/hockey-sport-environment-filed_23-2151891707.jpg?semt=ais_hybrid&w=740&q=80)  ;
 overflow: hidden; /* contain objects "on-screen" */
}