html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#shane{
    width: 200px;
    position:relative;
    left:2px; 
    top:170px;
}
#ilya{
    width: 200px;
    position:relative;
    left:215px;
    top: 170px; 
}


#puck{
    width: 40px;
    position: relative;
    top: 170px;
    left: 345px;


}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 75 0px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: url(https://img.freepik.com/free-photo/hockey-sport-environment-filed_23-2151891707.jpg?semt=ais_hybrid&w=740&q=80)  ;
 overflow: hidden; /* contain objects "on-screen" */
}